.container__content-heading{
    font-size: 2rem;
    margin-top: 16px;
    color: var(--primary-color);
}

.container__content-heading:last-child{
    margin-top: 12px;
}

.form-post{
    width: 950px;
    margin: 0 auto;
}

.form-item-wrap{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px 16px;
    margin-bottom: 12px;
    margin-top: 32px;
}

.form-item{
    border: 1px solid #ced0d4;
    padding: 10px 10px 8px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.form-item__title{
    position: absolute;
    top: 8px;
    left: 8px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.4rem;
}

.form-item__title i{
    color: var(--text-color);
    margin-right: 4px;
    font-size: 1.6rem;
}

.form-item input{
    width: 100%;
    border: none;
    padding: 22px 16px 0;
}


.form-item textarea{
    width: 100%;
    border: none;
    resize: none;
    padding: 0 8px;
    margin-top: 4px;
}

.form-item_attention{
    margin-top: 5px;
    margin-bottom: 12px;
    color: var(--text-color);
    text-align: left;
    font-size: 1.4rem;
}

.title-content{
    color: var(--text-color);
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 4px;

}

.form-item__action{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.radio-input {
    display: none;
}

.radio-label {
    display: flex;
    width: 1rem;
    height: 1rem;
    margin-right: 20px;
    border-radius: 2rem;
    background-color: #eee;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 0 0 4px #eee;
    transition: all 0.1s linear;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}
.radio-input:checked + .radio-label {
    box-shadow: 0 0 0 4px #fff, 0 0 0 6px var(--primary-color);
    background-color: var(--primary-color);
}

.form-item__action label{
    font-size: 1.4rem;
}

#radio-1,#radio-2{
    width: auto;
    margin-right: 8px;
}

.btn-submit{
    margin: 12px auto;
    position: relative;
}
.btn-submit:hover{
    opacity: .7;
}

.btn-submit span{
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
}

.border-none{
    border: none !important;
}

.attention{
    color: var(--primary-color);
}

.form-message{
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--primary-color);
    font-weight: 500;
}

.loader{
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-left: 3px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: spin linear infinite forwards 1s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-animation: spin linear infinite forwards 1s;
}

.btn-submit.is-loading{
    pointer-events: none;
    opacity: .5;
}

.btn-submit.is-loading .loader{
    display: block;
}

.btn-submit.is-loading span{
    display: none;
}


  


/* Responsive */
/* Mobile & tablet: width <1024px */
@media only screen and (max-width: 63.9375em){
    .form-post{
        width: 100%;
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

}

/* Mobie: width < 740px */
@media only screen and (max-width: 46.1875em) {

    .form-item-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
    .btn-submit{
        width: 100%;
    }
    .container__content-heading,
    .form-item-wrap{
        margin-top: 0;
    }
}

/* PC Low */
@media (min-width: 1024px) and (max-width: 1239px) { 

}

/* PC: width >= 1024px */
@media only screen and (min-width: 64em) {

}
